# Maven build directory
target/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.txt
# IDE/Tooling
.idea/
.classpath
.project
.settings/
*.iml
.DS_Store


# private key 


db.properties

!*.java

!*.fxml


# sample files 


table_view.fxml